NODE_ENV=development
PORT=3333
CORS_ORIGIN=http://localhost:5173

DATABASE_URL=postgresql://lucaco:lucaco@localhost:5432/lucaco?schema=public

# gere com: openssl rand -hex 32
JWT_ACCESS_SECRET=troque-isto
JWT_ACCESS_TTL=15m
REFRESH_TTL_DAYS=30

S3_ENDPOINT=http://localhost:9000
# endpoint que o navegador enxerga (URLs pre-assinadas)
S3_PUBLIC_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=lucaco
S3_SECRET_KEY=lucaco123
S3_BUCKET=lucaco
